# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python/
env/
venv/
*.egg-info/
.pytest_cache/

# Django specific
*.log
*.pot
*.mo
*.orig
db.sqlite3
media/ # User-uploaded files

# Environment variables
.env
.flaskenv

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.parcel-cache/
dist/ # Compiled frontend assets (if you build to 'dist')

# macOS specific
.DS_Store

# Windows specific
Thumbs.db